extends layout

block content
  h1= title
  p Welcome to #{title}
  p List User GET https://rudyfridian.herokuapp.com/users
  p Get User by Account Number eg : GET http://rudyfridian.herokuapp.com/users/account-number/111222333
  p Get User by Identity Number eg : GET http://rudyfridian.herokuapp.com/users/identity-number/111222333
  p Create User POST https://rudyfridian.herokuapp.com/users using json
  p Delete User by Account Number eg : DELETE http://rudyfridian.herokuapp.com/users/account-number/111222333